* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
/* variáveis */
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    /* tira a linha de baixo de todos os elementos a's */
    text-decoration: none;
}

h1, h2, h3, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
